/* Jonathan Gabriel Morales Torres - 5to Computación "B" - Clave 10*/
/* Estilos del programa */

/* Trabajamos con el cuerpo*/
body{
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #202020;
    margin: 0;
}

/* Tarjeta del formulario*/
.card{
    background: #101010;
    padding: 40px;
    border-radius: 10px solid #99cdcf;
    box-shadow: 0 0  15px #2ca053;
    text-align: center;
    color: #fff
}

/* Títulos de importancia #2*/
h2{
    text-shadow: 0 0 10px #609c74;
    margin-bottom: 30px;
}

/* Estilo de los campos de entrada*/
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #333;
    color: #fff;
    box-sizing: border-box;
}

input:focus{
    outline: none;
    border-color: #00f3ff;
    box-shadow: 0 5px 10 px -5px #ff00de;
}

/* Estilo del botón */
button{
    width: 100%;
    padding: 10px;
    background: transparent;
    color: #00f3ff;
    border: 2px solid #00f3ff;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background: #00f3ff;
    color: #000;
    box-shadow: 0 0 20px #00f3ff;
}